Repository libexpat/libexpat, pull requests merged in 2025-02, with the labels that each got.

#950 Add new fuzzer `xml_lpm_fuzzer` (replaces pull request #617)
  .github/workflows/fuzzing.yml
  .github/workflows/linux.yml
  expat/CMakeLists.txt
  expat/fuzz/xml_lpm_fuzzer.cpp
  expat/fuzz/xml_lpm_fuzzer.proto
Labels: enhancement, fuzzing

#617 Fuzzer
  expat/CMakeLists.txt
  expat/fuzz/xml_lpm_fuzzer.cpp
  expat/fuzz/xml_lpm_fuzzer.proto
Labels: enhancement, fuzzing

#951 fuzzers|cmake: Check for availability of protobuf compiler
  expat/CMakeLists.txt
Labels: enhancement, compilation, fuzzing, cmake

#952 fuzzers|cmake: Stop linking `xml_lpm_fuzzer` against Abseil, explicitly
  .github/workflows/fuzzing.yml
  expat/CMakeLists.txt
Labels: enhancement, compilation, fuzzing, cmake

#953 Fix warning: no `-Wno-pedantic-ms-format` (`-Wunknown-warning-option`) for LLVM MinGW
  expat/CMakeLists.txt
Labels: enhancement, compilation, windows, cmake

#954 Fuzzers: Bump libprotobuf-mutator to v1.4-8-g75f1720
  .github/workflows/fuzzing.yml
  expat/CMakeLists.txt
Labels: enhancement, fuzzing

#955 fuzzers|cmake: Disable `xml_lpm_fuzzer` for `-DEXPAT_OSSFUZZ_BUILD=ON`
  expat/CMakeLists.txt
Labels: compilation, fuzzing, cmake

#956 Get CI off of about-to-be-removed Ubuntu 20.04
  .github/workflows/autotools-cmake.yml
  .github/workflows/cmake-required-version.yml
  .github/workflows/data/expat_config_h_in__expected.txt
  .github/workflows/expat_config_h.yml
  .github/workflows/linux.yml
  .github/workflows/valid-xml.yml
Labels: enhancement, ci

#957 `fuzzing.yml`: Start producing code coverage report
  .github/workflows/fuzzing.yml
Labels: enhancement, ci, fuzzing

#959 `tests/benchmark`: Fix a harmless TOCTTOU + upfront refactorings + improve error messages
  expat/tests/benchmark/benchmark.c
Labels: bug

#961 fuzzers|cmake: Re-enable `xml_lpm_fuzzer` for `-DEXPAT_OSSFUZZ_BUILD=ON`
  expat/CMakeLists.txt
Labels: enhancement, fuzzing

#962 Drop support for CMake <3.13
  expat/CMakeLists.txt
Labels: enhancement, compilation, cmake

#958 Extend changelog (i.e. early bits of preparation for release 2.6.5)
  expat/Changes
Labels: enhancement, documentation

#964 Stop (trying to) upload to Coverity Scan from fork repositories
  .github/workflows/coverity-scan.yml
  expat/Changes
Labels: enhancement, ci

#966 Leverage CMake >=3.13
  expat/CMakeLists.txt
  expat/Changes
Labels: enhancement, cmake
